<div style="width:fit-content;height:fit-content;background-color:transparent;">
    <div style='position: relative; width: 1080px; height: 1080px; margin-bottom: 20px; background-color:rgba(255, 255, 255, 0)'>
    <div class='image'style='overflow: hidden; position: absolute; width: 147.65197021174458px; height: 151.558106989833px; transform: translate(206.8883161512037px, 521.8122633805367px) rotate(0deg);'>
    <div class='image-wrapper' width: style='width:147.65197021174458px; height:151.558106989833px; transform:translate(0px, 0px);'>
      <div style="height:100%;width:100%;pointer-events:none;">
        <img style='width:100%; height: 100%;filter: blur(0px) opacity(1) contrast(1) brightness(1) saturate(1)' src='https://s3.us-east-1.amazonaws.com/user-assets.mediamodifier.com/media/61aa64e694ce8d0493adca91/61aa689a6451929651b9ed96/full.png'/>
      </div>
    </div>
    </div>
    </div>
  <div class='image' 
    style='overflow: hidden; position: absolute; width: 348.70680820770855px; height: 326.6832203209059px; transform: translate(288.88883237485487px, 301.8830246953237px) rotate(0deg);'>
    <div class='image-wrapper' width: style='width:348.70680820770855px; height:326.6832203209059px; transform:translate(0px, 0px);'>
      <div style="height:100%;width:100%;pointer-events:none;">
        <img style='width:100%; height: 100%;filter: blur(0px) opacity(1) contrast(1) brightness(1) saturate(1)' src='https://s3.us-east-1.amazonaws.com/user-assets.mediamodifier.com/media/61aa64e694ce8d0493adca91/61aa699067fbb2ea17f1e99e/full.png'/>
      </div>
    </div>
  </div>
  <div class='image' 
    style='overflow: hidden; position: absolute; width: 278.5164685299101px; height: 204.016178593926px; transform: translate(219.59259259259284px, 166.28616304650112px) rotate(0deg);'>
    <div class='image-wrapper' width: style='width:278.5164685299101px; height:204.016178593926px; transform:translate(0px, 0px);'>
      <div style="height:100%;width:100%;pointer-events:none;">
        <img style='width:100%; height: 100%;filter: blur(0px) opacity(1) contrast(1) brightness(1) saturate(1)' src='https://s3.us-east-1.amazonaws.com/user-assets.mediamodifier.com/media/61aa64e694ce8d0493adca91/61aa689b67fbb21067f1e99c/full.png'/>
      </div>
    </div>
  </div>
  <div class='image' 
    style='overflow: hidden; position: absolute; width: 289.2671040460478px; height: 162.45480681185305px; transform: translate(377.0000000000004px, 555.8778074756731px) rotate(0deg);'>
    <div class='image-wrapper' width: style='width:289.2671040460478px; height:162.45480681185305px; transform:translate(0px, 0px);'>
      <div style="height:100%;width:100%;pointer-events:none;">
        <img style='width:100%; height: 100%;filter: blur(0px) opacity(1) contrast(1) brightness(1) saturate(1)' src='https://s3.us-east-1.amazonaws.com/user-assets.mediamodifier.com/media/61aa64e694ce8d0493adca91/61aa689c6451929d67b9ed97/full.png'/>
      </div>
    </div>
  </div>
  <div class='image' 
    style='overflow: hidden; position: absolute; width: 204.39730822952367px; height: 227.53662614229978px; transform: translate(608.4756826935188px, 358.0231997891265px) rotate(0deg);'>
    <div class='image-wrapper' width: style='width:204.39730822952367px; height:227.53662614229978px; transform:translate(0px, 0px);'>
      <div style="height:100%;width:100%;pointer-events:none;">
        <img style='width:100%; height: 100%;filter: blur(0px) opacity(1) contrast(1) brightness(1) saturate(1)' src='https://s3.us-east-1.amazonaws.com/user-assets.mediamodifier.com/media/61aa64e694ce8d0493adca91/61aa689ad43d900206f7d0d3/full.png'/>
      </div>
    </div>
  </div>
  <div class='image' 
    style='overflow: hidden; position: absolute; width: 153.086004477556px; height: 93.42408732467166px; transform: translate(471.44444444444383px, 212.03839647337247px) rotate(0deg);'>
    <div class='image-wrapper' width: style='width:153.086004477556px; height:93.42408732467166px; transform:translate(0px, 0px);'>
      <div style="height:100%;width:100%;pointer-events:none;">
        <img style='width:100%; height: 100%;filter: blur(0px) opacity(1) contrast(1) brightness(1) saturate(1)' src='https://s3.us-east-1.amazonaws.com/user-assets.mediamodifier.com/media/61aa64e694ce8d0493adca91/61aa689a67fbb238e6f1e99b/full.png'/>
      </div>
    </div>
  </div>
</div>